* {
	background: black; color: lightgreen;
	font-family: monospace; font-size:4mm;
}

html,body {
	margin:0; padding:0; border:0; overflow:hidden;
}

#words,#stack {
	width:100%; height: 30%; overflow-y: scroll;
}

#words	{ color: steelblue; }

#cli	{ width:100%; position:absolute; bottom:0; }
#pad	{ width:100%; color: darkcyan; }
#go		{ width:100%; background: darkslategrey; }

#dump	{ width:100%; height: 100%; overflow-y: scroll; }
