<title>metaL</title>
<link rel="stylesheet" type="text/css" href="/css/dark.css">

<style>

#viz	{ border: 2px solid darkblue; }

.node {
	fill: lightgreen;
	font-family: monospace; font-size:4mm;
}

</style>


<script src = "https://d3js.org/d3.v3.min.js"></script>

<svg id=viz></svg>

{% autoescape false %}
<script>

//.node {
//    fill: #ccc;
//    stroke: #fff;
//    stroke-width: 2px;
//	background: black; color: lightgreen;
//	font-family: monospace; font-size:4mm;
//}

W = window.innerWidth/2
H = window.innerHeight/2

svg = d3.select('#viz')
	.attr('width',W)
	.attr('height',H)
	
var dat   = [{{dump}}]
var nodes = dat.map( function(i) { return {text:i,x:0,y:0} } )

var force = d3.layout.force()
	.size([W,H])
	.linkDistance(W/11)
	.nodes(nodes)
	.links([])

var node = svg.selectAll('text')
	.data(nodes)
	.enter().append('text')
	.attr('class','node')
	.text( i => i.text )
//	.attr('x', i => i.x ) .attr('y', i => i.y )

force.on('end', function() {
	node
		.attr('x',i => i.x)
		.attr('y',i => i.y)
})

force.start()

</script>
{% endautoescape %}